# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Env files
.env
.env.*

# Include .env.example
!.env.example

# Logs
*.log
logs/

# Model and pipeline files
*.pkl
*.joblib
*.keras

# PyCharm files
.idea/

# Test cache
.pytest_cache/